.DS_Store
node_modules/
dist/
gifs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
seller_copy/public/config.js
seller_copy/src/libs/axios.js
test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

yarn.lock
package-lock.json
yarn.lock
